@config "../tailwind.config.js";
@import "tailwindcss";

@theme {
  --color-dark-bg: #0a0a0a;
  --color-dark-card: #111111;
  --color-dark-nav: rgba(17, 17, 17, 0.7);
  --color-white-text: #ffffff;
  --color-white-muted: rgba(255, 255, 255, 0.6);
  --color-border-light: rgba(255, 255, 255, 0.1);
  --color-grey-light: #787878;
  --color-accent-gold: #ffd700;
}

.p-style {
  @apply text-[15px] font-normal leading-[1.8em] tracking-[-0.02em] text-white/70  mb-5 font-sans;
}

.heading-style {
  @apply text-[20px] font-semibold leading-[1.4em] tracking-normal text-white text-left mb-10 font-jakarta;
}

.subheading-style {
  @apply text-[18px] font-medium leading-[1.4em] tracking-normal text-white text-left mb-5 font-jakarta;
}
